Array de objetos/.vs/Array de objetos/v15/.suo
*.ilk
*.pdb
*.db
ContadorJogo/.vs/ContadorJogo/v15/.suo
*.pdb
*.opendb
ConsoleApplication1/.vs/ConsoleApplication1/v15/.suo
*.ipch
*.vcxproj
*.filters
*.tlog
*.log
*.pch
*.obj
*.db
Retangulo/.vs/Retangulo/v15/.suo
*.idb
Retangulo/.vs/Retangulo/v15/.suo
*.db
Retangulo/.vs/Retangulo/v15/.suo
*.cbp
*.depend
*.layout
*.o
Composição de objetos/.vs/Composição de projetos/v15/.suo
ContadorJogo/.vs/ContadorJogo/v15/.suo
*.db
Friends/.vs/Friends/v15/.suo
Objetos aninhados/.vs/Objetos aninhados/v15/.suo
*.db
String em c++/.vs/String em c++/v15/.suo
Sobrecarga e Template de funções/.vs/Sobrecarga e Template de funções/v15/.suo
*.codeanalysisast
*.xml
*.codeanalysis
*.lastcodeanalysissucceeded
Sobrecarga de operadores/.vs/Sobrecarga de operadores/v15/.suo
Salario/.vs/Salario/v15/.suo
Sobrec. operadores - Frações/.vs/Sobrec. operadores - Frações/v15/.suo
*.enc
Sobrecarga de operadores/Debug/Sobrecarga de operadores.exe
